@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Estilos gerais */
html, body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(214, 210, 210, 0.534);
}

/*Estilo dos produtos*/
.table_produtos{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left:5%;
    margin-right: 5%; 

}

td{
    background-color: white;
    height: 300px;
    width: 700px;
    font-size: 20px;
    padding: 10px;
}

.img_produto{
    width: 40%;
    display: flex;
    align-items: center;
}
